* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open sans", sans-serif;
    background-color: azure;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    text-align: center;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
}

/* Header/meny */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006EB7;
    padding: 0 20px;
}
.header img {
    width: 120px;
    border-radius: 10px;
}
.desktop-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.desktop-menu ul {
    display: flex;
    flex-direction: row;
}
.desktop-menu li {
    margin: 10px;
    padding: 10px;
    list-style: none;
}
.desktop-menu a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
}
.desktop-menu a:hover {
    border-radius: 20px;
    background-color: #0085de;
}
.active-menu {
    background-color: #0085de;
    border-radius: 20px;
}

/* Startsidan */
#heading {
    position: relative;
    background-image: url("../images/np3arena_sundsvall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 150px 20px;
    text-align: center;
    z-index: 0;
    overflow: hidden;
}
#heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* mörkt överlägg */
    z-index: -1;
}
#heading h1 {
    font-size: 38px;
}

#firstPageButtons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 1s ease;
}
#firstPageButtons a {
    background-color: #FFD025;
    padding: 15px;
    margin: 0px 20px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}
#firstPageButtons a:hover {
    background-color: #006EB7;
    color: white;
}
#nextHomeGame {
    margin: 10px;
}

#section2 {
    text-align: center;
    margin-top: 40px;
}
#pictureDiv {
    margin-top: 40px;
    text-align: center;
}
#pictureDiv img {
    width: 500px;
    border-radius: 10px;
}

/* MENYSIDAN */
#menu-main h1 {
    margin-top: 20px;
}
#menu-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.menu-option {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu-option img {
    width: 400px;
    border-radius: 20px;
}

.menu-option:hover img {
    opacity: 0.8;
}

.menu-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

#menu {
    margin-top: 100px;
}
#menu h2 {
    text-align: center;
    margin-bottom: 25px;
}

#menu h3 {
    font-size: 26px;
    text-align: left;
    padding-left: 20px;
    color: #006EB7;
    width: fit-content;
}
.menu-item {
    margin: 15px auto;
    background-color: white;
    color: black;
    padding: 15px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
}
.menu-item h4 {
    margin-bottom: 8px;
    font-size: 20px;
    color: #006EB7;
}
.menu-item p {
    margin: 4px 0px;
}

/* Boka bord-sidan */
#booking-main {
    position: relative;
    background-image: url("../images/np3arena_sundsvall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 70px 20px;
    text-align: center;
    z-index: 0;
    overflow: hidden;
}
#booking-main h1 {
    color: black;
    margin-bottom: 40px;
}
#bookingForm {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    width: 100%;
    margin: auto;
    background-color: #0085de;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
#fullName {
    width: 90%;
    border-radius: 10px;
    border: none;
}
#phone {
    width: 90%;
    border-radius: 10px;
    border: none;
}
#date {
    border: none;
    border-radius: 10px;
}
#time {
    border: none;
    border-radius: 10px;
}
#guests {
    width: 50px;
    border: none;
    border-radius: 10px;
}
#message {
    border: none;
    width: 100%;
    height: 100px;
    font-size: 17px;
}

#bookingForm input {
    padding: 8px;
    font-size: 17px;
}
#bookingForm label {
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

#bookingForm button {
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #FFD025;
    color: black;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#bookingForm button:hover {
    background-color: green;
    color: white;
}

#bookingResponse {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

/* OM OSS-sidan */

#introtext, #about h1 {
    text-align: center;
    padding: 20px;
}
#sponsor {
    font-size: 20px;
    text-transform: uppercase;
    color: #006EB7;
    font-weight: bold;
}
#gif-logo img {
    width: 250px;
    border-radius: 100px;
}
#about,
#about2,
#about3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 600px;
    margin: 25px auto 0 auto;
}

#about h2,
#about2 h2,
#about3 h2 {
    text-align: center;
    margin-top: 20px;
}

#about p,
#about2 p,
#about3 p {
    max-width: 600px;
    margin: auto;
}

.picture img {
    width: 450px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}

/* Footer */ 
.footer {
    background-color: #006EB7;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
}
.footer-links {
    margin: 0px 100px;
}
.footer-links ul {
    list-style: none;
}
.footer-links li {
    padding: 10px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.footer-links a:hover {
    background-color: #0085de;
    border-radius: 10px;
}
.footer-contact {
    color: white;
    padding: 10px;
}

/* RESPONSIV MENY */
.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 20px;
    z-index: 1;
    background-color: white;
    padding: 10px;
}

.hamburger {
    display: none;
    font-size: 50px;
    cursor: pointer;
    color: white;
    padding: 10px;
}


.hamburger.active::before {
    content: "✖";
    font-size: 50px;
}

.hamburger::before {
    content: "☰";
    font-size: 50px;
}

.hamburger {
    font-size: 0;
}

@media (max-width: 750px) {
    /* MENYER */
    .desktop-menu {
        display: none;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 2;
    }
    .mobile-menu.visible {
        display: flex;
        background-color: #FFD025;
    }
    .mobile-menu li {
        list-style: none;
        text-align: center;
        margin: 20px;
    }
    .mobile-menu a {
        font-family: "Oswald", sans-serif;
        color: #006EB7;
        font-size: 24px;
        text-decoration: none;
        font-weight: bold;
        margin: 10px;
        padding: 10px;
    }
    .mobile-menu a:hover {
        text-decoration: underline;
    }
    .active-mobile-menu {
        background-color: #006EB7;
        border-radius: 10px;
    }
    .active-mobile-menu a {
        color: white;
    }
    .active-mobile-menu a:hover {
        text-decoration: none;
        cursor: default;
    }
    .header img {
        width: 100px;
    }

    /* STARTSIDA */ 
    #heading h1 {
        font-size: 32px;
    }
    #firstPageButtons a {
        padding: 10px;
    }
    #nextHomeGame {
        text-align: center;
        margin: 40px;
    }
    #section2 {
        max-width: 350px;
        margin: auto;
    }   
    #section2 h3 {
        font-size: 22px;
        font-family: "Oswald", sans-serif;
    }
    #pictureDiv img {
        max-width: 350px;
        margin: auto;
    }

    /* MENY-sidan */

    #menu-pics {
        flex-direction: column;
        align-items: center;
    }
    .menu-item {
        margin: 15px auto;
        background-color: white;
        color: black;
        padding: 15px;
        max-width: 400px;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
        text-align: left;
    }

    /* FOOTER */
    .footer-links {
        margin: 0px 20px;
    }
}